html{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html,body{width:100%;height:100%}
@-webkit-keyframes clock{0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(-360deg)}}
@-moz-keyframes clock{0%{-moz-transform:rotate(0deg)}
100%{-moz-transform:rotate(-360deg)}}
@keyframes clock{0%{transform:rotate(0deg)}
100%{transform:rotate(-360deg)}}
@-webkit-keyframes ac_top{0%{top:10%}
33%{top:-8%}
66%{top:13%}
100%{top:10%}}
@-moz-keyframes ac_top{0%{top:10%}
33%{top:-8%}
66%{top:13%}
100%{top:10%}}
@keyframes ac_top{0%{top:10%}
33%{top:-8%}
66%{top:13%}
100%{top:10%}}
@-webkit-keyframes ac_left{0%{left:10%}
33%{left:-8%}
66%{left:13%}
100%{left:10%}}
@-moz-keyframes ac_left{0%{left:10%}
33%{left:-8%}
66%{left:13%}
100%{left:10%}}
@keyframes ac_left{0%{left:10%}
33%{left:-8%}
66%{left:13%}
100%{left:10%}}
@-webkit-keyframes ac_right{0%{right:10%}
33%{right:-8%}
66%{right:13%}
100%{right:10%}}
@-moz-keyframes ac_right{0%{right:10%}
33%{right:-8%}
66%{right:13%}
100%{right:10%}}
@keyframes ac_right{0%{right:10%}
33%{right:-8%}
66%{right:13%}
100%{right:10%}}
.mainboard{width:100%;height:100%;margin:0}
.game-detial{padding:0;width:95%;margin:0 auto;top:50%;margin-top:-200px;text-align:center}
.icon-start-logo{display:block;position:relative;width:200px;height:200px;margin:0 auto;margin-bottom:30px;bottom:auto;background:0;overflow:visible;-webkit-animation:clock 2.5s infinite linear;-moz-animation:clock 2.5s infinite linear;animation:clock 2.5s infinite linear}
.icon-sircle-red,.icon-sircle-yellow,.icon-sircle-blue{display:block;content:'';width:100px;height:100px;opacity:.7;position:absolute;border-radius:50%}
.icon-sircle-red{background:red;left:50%;margin-left:-50px;top:10%;-webkit-animation:ac_top 2.5s infinite linear;-moz-animation:ac_top 2.5s infinite linear;animation:ac_top 2.5s infinite linear}
.icon-sircle-yellow{background:#ffea00;left:10%;top:40%;-webkit-animation:ac_left 2.5s infinite linear;-moz-animation:ac_left 2.5s infinite linear;animation:ac_left 2.5s infinite linear}
.icon-sircle-blue{background:#1200ff;right:10%;top:40%;-webkit-animation:ac_right 2.5s infinite linear;-moz-animation:ac_right 2.5s infinite linear;animation:ac_right 2.5s infinite linear}
.game-detial .info-list{font-size:14px}
.game-content{padding-top:20px}
.wrapCont{margin-bottom:30px}
.q-link{margin-bottom:10px}
.count-back{left:0;top:50%;background:#fff}
.keyboard{padding:0}
.keyboard .square:hover{box-shadow:none;border:1px solid #ddd}
.keyboard .square:active{border:1px solid #92AFED;box-shadow:0 0 5px #92afec,inset 1px 1px 2px rgba(0,0,0,.1)}
.mask-inner p{padding:0 5%}
.mask-inner .title{font-size:24px}
.mask-inner .desc,.mask-inner .quote,.mask-inner .score{font-size:12px;box-sizing:border-box;padding:0 15%;display:inline-block;width:100%}
.icon-over{background-size:cover}
.over-1{width:280px;height:166px}
.over-2{width:140px;height:140px}
.mask-inner .title .icon-timeout{font-size:30px}
.wrapCont .content{height:100px;line-height:100px}